<% layout("layout/boilerplate") %>

    <div class="filters">

        <button class="btn btn-outline-dark ps-3 pe-3">All</button>
        <button class="btn btn-outline-dark ps-4 pe-4">Hostels</button>
        <button class="btn btn-outline-dark ps-4 pe-4">PGs</button>
        <button class="btn btn-outline-dark ps-4 pe-4">Private Rooms</button>
        <button class="btn btn-outline-dark ps-4 pe-4">Flats/House</button>

    </div>

    <main class="allListings">


    </main>