<% layout("layout/boilerplate") %>

    <div class="filters d-flex gap-5">

        <button class="btn btn-outline-dark ps-5 pe-5">Hostels/PG</button>
        <button class="btn btn-outline-dark ps-5 pe-5">Personal Rooms</button>
        <button class="btn btn-outline-dark ps-5 pe-5">Flats/House</button>

    </div>

    <main class="allListings">


        <h3> <%= listings[0].title %> </h3>
        <h3> <%= listings[0].name %> </h3>

    </main>